<h1> <%=@game.opponent.name%> just attacked <%=@game.current_player.name%>! </h1>

<h2><%=@game.player_1.name%>: <%=@game.player_1.hit_points%> HP | <%=@game.player_2.name%>: <%=@game.player_2.hit_points%> HP</h2>

<form action="/play" method= "get">
  <input type='submit' value="OkieDokie">
</form>
